@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0aff9d;
  --primary-light: #1ceb98;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary );
  --color-primary-light: var(--primary-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.vertical-div {
  transform: rotate(
    270deg
  );
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.dot {
  font-size: 70px;
  color: #0aff9d;
  border-radius: 50%;
}

.title-style {
  font-size: 3rem;
  font-weight: 900;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: "red";
  opacity: 1;
}

